@charset "UTF-8"; 

// ---------------------------------------------
// text-align
// ---------------------------------------------

.txtL{ text-align: left !important; }
.txtC{ text-align: center !important; }
.txtR{ text-align: right !important; }


// ---------------------------------------------
// vertical-align
// ---------------------------------------------

.v-middle{ vertical-align: middle !important; }
.v-bottom{ vertical-align: bottom !important; }