@charset "UTF-8"; 

// ---------------------------------------------
//  font-size
// ---------------------------------------------

.txt80{ font-size: 80% !important;}
.txt90{ font-size: 90% !important; }
.txt110{ font-size: 110% !important; }
.txt120{ font-size: 120% !important; }
.txt130{ font-size: 130% !important; }
.txt150{ font-size: 150% !important; }
.txt170{ font-size: 170% !important; }
